#Logo {
  -fx-effect: dropshadow(three-pass-box, rgba(56, 56, 56, 0.653), 12, 0, 0, 0);
}
.root {
  -fx-background-color: #e4e8ed;
  -fx-font-size: 14;
}

.text-field {
  -fx-background-color: #ffffff;
  -fx-border-color: #f5f7fa;
  -fx-border-width: 2;
  -fx-border-radius: 30;
  -fx-effect: dropshadow(three-pass-box, rgba(54, 61, 77, 0.409), 10, 0, 0, 0);
  -fx-background-radius: 30;
  -fx-min-width: 140;
  -fx-min-height: 40;
}

.text-field:focused {
  -fx-background-color: #ffffff;
  -fx-border-color: #f5f7fa;
  -fx-border-width: 2;
  -fx-border-radius: 30;
  -fx-effect: dropshadow(three-pass-box, rgba(54, 61, 77, 0.409), 10, 0, 0, 0);
  -fx-background-radius: 30;
  -fx-min-width: 140;
  -fx-min-height: 40;
}

#avatarChoiceBox {
  -fx-background-color: #ffffff;
  -fx-border-color: #f5f7fa;
  -fx-border-width: 2;
  -fx-border-radius: 30;
  -fx-effect: dropshadow(three-pass-box, rgba(54, 61, 77, 0.409), 10, 0, 0, 0);
  -fx-background-radius: 30;
  -fx-min-width: 140;
  -fx-min-height: 40;
}

#avatarChoiceBox {
  -fx-background-color: #ffffff;
  -fx-border-color: #f5f7fa;
  -fx-border-width: 2;
  -fx-border-radius: 30;
  -fx-effect: dropshadow(three-pass-box, rgba(54, 61, 77, 0.409), 10, 0, 0, 0);
  -fx-background-radius: 30;
  -fx-min-width: 140;
  -fx-min-height: 40;
}

.button:hover {
  -fx-cursor: hand;
  -fx-effect: dropshadow(three-pass-box, rgba(56, 56, 56, 0.653), 12, 0, 0, 0);
}

.button {
  -fx-text-fill: white;
  -fx-font-size: 14;
  -fx-background-color: #6dd1e0;
  -fx-effect: dropshadow(three-pass-box, rgba(86, 86, 86, 0.157), 5, 0, 0, 0);
  -fx-background-radius: 30;
  -fx-min-width: 90;
  -fx-min-height: 30;
  -fx-transition: all 1s ease-in-out;
}

/* Dashboard */

#gameCardHBox {
  -fx-effect: dropshadow(three-pass-box, rgba(86, 86, 86, 0.157), 5, 0, 0, 0);
  -fx-background-color: #ffffff;
  -fx-background-radius: 10;
  -fx-min-width: 410;
  -fx-min-height: 60;
}

#gameCardHBox > .button {
  -fx-background-color: #ffffff00;
}
/* -END-Dashboard */

/*  Pane */

#ErrorPane,
#errorRegisteryNewAccount,
#errorPanePassword,
#errorPanePasswordValidation,
#avatarError,
#errorSomethinkWrong,
#errorrThisLoginIsToShort {
  -fx-background-color: #d65745;
  -fx-background-radius: 10;
  -fx-effect: dropshadow(three-pass-box, rgba(86, 86, 86, 0.157), 5, 0, 0, 0);
}
#errorButton,
#errorPasswordValidtionButton {
  -fx-background-color: #d65745;
  -fx-min-width: 30;
  -fx-min-height: 30;
}

#accountCreatedSuccesfully {
  -fx-background-color: #55b938;
  -fx-background-radius: 10;
  -fx-effect: dropshadow(three-pass-box, rgba(86, 86, 86, 0.157), 5, 0, 0, 0);
}
#succesButton {
  -fx-background-color: #55b938;
  -fx-min-width: 30;
  -fx-min-height: 30;
}
/* -END-  Pane */

/* Scrollbar */
.scroll-bar:vertical *.increment-button,
.scroll-bar:vertical *.decrement-button {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 6;
  -fx-background-color: white;
}

.scroll-bar:vertical *.increment-arrow,
.scroll-bar:vertical *.decrement-arrow {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-background-color: white;
}
.scroll-bar:vertical {
  -fx-effect: dropshadow(three-pass-box, rgba(86, 86, 86, 0.404), 5, 0, 0, 0);
}
.scroll-bar:vertical .thumb {
  -fx-background-color: #6dd1e0;
}
.scroll-bar:vertical .track {
  -fx-background-color: white;
  -fx-border-color: white;
  -fx-min-height: 100%;
}
/* -END- Scrollbar*/

/* LOBBY */
#Host {
  -fx-background-color: #6dd1e0;
  -fx-background-radius: 10;
  -fx-effect: dropshadow(three-pass-box, rgba(86, 86, 86, 0.157), 5, 0, 0, 0);
  -fx-text-fill: white;
}
#Player1,
#Player2,
#Player3,
#Player4,
#Player5 {
  -fx-background-color: #ffffff;
  -fx-background-radius: 10;
  -fx-effect: dropshadow(three-pass-box, rgba(86, 86, 86, 0.157), 5, 0, 0, 0);
  -fx-text-fill: #7a8599;
}
#lobbyNamePane {
  -fx-background-color: #ffffff;
  -fx-background-radius: 10;
  -fx-effect: dropshadow(three-pass-box, rgba(86, 86, 86, 0.157), 5, 0, 0, 0);
}
#gameName:focused {
  -fx-background-color: #ffffff;
  -fx-border-color: #4c596b00;
  -fx-text-fill: #000000;
  -fx-border-width: 2;
  -fx-border-radius: 30;
  -fx-effect: dropshadow(three-pass-box, rgba(54, 61, 77, 0), 10, 0, 0, 0);
  -fx-background-radius: 0;
  -fx-min-width: 80;
  -fx-min-height: 40;
}

#gameName {
  -fx-background-color: #ffffff00;
  -fx-border-color: #00000000;
  -fx-text-fill: #000000;
  -fx-border-width: 2;
  -fx-border-radius: 30;
  -fx-effect: dropshadow(three-pass-box, rgba(54, 61, 77, 0), 10, 0, 0, 0);
  -fx-background-radius: 30;
  -fx-min-width: 80;
  -fx-min-height: 40;
}
#gameName:disabled {
  -fx-opacity: 1;
}
/* -END- LOBBY */

/* Pagination */
#paginationButtonPrev,
#paginationButtonNext {
  -fx-background-color: #ffffff;
  -fx-min-width: 30;
  -fx-min-height: 30;
  -fx-background-radius: 50;
}

/* -END- Pagination */
