@font-face {
  font-family: Lato;
  src: url("LatoRegular.ttf");
}
#Logo {
  -fx-effect: dropshadow(three-pass-box, rgba(56, 56, 56, 0.653), 12, 0, 0, 0);
}
.root {
  -fx-background-color: #e4e8ed;
  -fx-font-family: "Lato";
  -fx-font-size: 14;
}

.text-field {
  -fx-background-color: #ffffff;
  -fx-border-color: #f5f7fa;
  -fx-border-width: 2;
  -fx-border-radius: 30;
  -fx-effect: dropshadow(three-pass-box, rgba(54, 61, 77, 0.409), 10, 0, 0, 0);
  -fx-background-radius: 30;
  -fx-min-width: 140;
  -fx-min-height: 40;
}

.text-field:focused {
  -fx-background-color: #ffffff;
  -fx-border-color: #f5f7fa;
  -fx-border-width: 2;
  -fx-border-radius: 30;
  -fx-effect: dropshadow(three-pass-box, rgba(54, 61, 77, 0.409), 10, 0, 0, 0);
  -fx-background-radius: 30;
  -fx-min-width: 140;
  -fx-min-height: 40;
}

#avatarChoiceBox {
  -fx-background-color: #ffffff;
  -fx-border-color: #f5f7fa;
  -fx-border-width: 2;
  -fx-border-radius: 30;
  -fx-effect: dropshadow(three-pass-box, rgba(54, 61, 77, 0.409), 10, 0, 0, 0);
  -fx-background-radius: 30;
  -fx-min-width: 140;
  -fx-min-height: 40;
}

#avatarChoiceBox {
  -fx-background-color: #ffffff;
  -fx-border-color: #f5f7fa;
  -fx-border-width: 2;
  -fx-border-radius: 30;
  -fx-effect: dropshadow(three-pass-box, rgba(54, 61, 77, 0.409), 10, 0, 0, 0);
  -fx-background-radius: 30;
  -fx-min-width: 140;
  -fx-min-height: 40;
}

.button:hover {
  -fx-cursor: hand;
  -fx-effect: dropshadow(three-pass-box, rgba(56, 56, 56, 0.653), 12, 0, 0, 0);
}

.button {
  -fx-text-fill: white;
  -fx-font-size: 14;
  -fx-background-color: #6dd1e0;
  -fx-effect: dropshadow(three-pass-box, rgba(86, 86, 86, 0.157), 5, 0, 0, 0);
  -fx-background-radius: 30;
  -fx-min-width: 90;
  -fx-min-height: 30;
  -fx-transition: all 1s ease-in-out;
}

#GameCard {
  -fx-effect: dropshadow(three-pass-box, rgba(86, 86, 86, 0.157), 5, 0, 0, 0);
  -fx-background-color: #ffffff;
  -fx-background-radius: 10;
}

/*  Pane */

#ErrorPane,
#errorRegisteryNewAccount,
#errorPanePassword,
#errorPanePasswordValidation {
  -fx-background-color: #d65745;
  -fx-background-radius: 10;
  -fx-effect: dropshadow(three-pass-box, rgba(86, 86, 86, 0.157), 5, 0, 0, 0);
}
#errorButton,
#errorPasswordValidtionButton {
  -fx-background-color: #d65745;
  -fx-min-width: 30;
  -fx-min-height: 30;
}

#accountCreatedSuccesfully {
  -fx-background-color: #55b938;
  -fx-background-radius: 10;
  -fx-effect: dropshadow(three-pass-box, rgba(86, 86, 86, 0.157), 5, 0, 0, 0);
}
#succesButton {
  -fx-background-color: #55b938;
  -fx-min-width: 30;
  -fx-min-height: 30;
}
/* -END-  Pane */
